{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}

{% block page_title %}
    {% block page_template_title %}{% endblock page_template_title %} ⋗ Skyhook Monitor
{% endblock page_title %}

{% block header_nav_brand %}
    <a class="nav-link text-white link-light link-underline link-underline-opacity-0" href="{% url 'aa_skyhook_monitor:index' %}">Skyhook Monitor</a>
{% endblock header_nav_brand %}

{% block header_nav_collapse_left %}
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active text-white{% else %}text-white-50{% endif %}"
           href="{% url 'aa_skyhook_monitor:index' %}">
            {% translate "My Skyhooks" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'raidable' %}active text-white{% else %}text-white-50{% endif %}"
           href="{% url 'aa_skyhook_monitor:raidable' %}">
            {% translate "Raidable" %}
        </a>
    </li>
{% endblock header_nav_collapse_left %}

{% block header_nav_collapse_right %}
    {% if perms.aa_skyhook_monitor.manage_skyhooks %}
    <li class="nav-item">
        <a href="{% url 'aa_skyhook_monitor:add_owner' %}" class="btn btn-primary btn-sm ms-2">
            + {% translate "Add Corporation" %}
        </a>
    </li>
    {% endif %}
{% endblock header_nav_collapse_right %}

{% block content %}
    <div class="aa-skyhook-monitor">
        {% block aaskyhookmonitor_block %}{% endblock aaskyhookmonitor_block %}
    </div>
{% endblock content %}

{% block extra_css %}
    {% include 'aa_skyhook_monitor/bundles/aa-skyhook-monitor-css.html' %}
{% endblock extra_css %}

{% block extra_javascript %}
    {% include 'aa_skyhook_monitor/bundles/aa-skyhook-monitor-js.html' %}
{% endblock extra_javascript %}
